<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>Basic Form</strong> Elements
      </div>
      <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="file-input">File input</label>
            <div class="col-md-9">
              <input type="file" id="file-input" name="file-input">
            </div>
          </div>

        </form>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
      </div>
    </div>


</div><!--/.row-->
