<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          Adding Brand
        </div>
        <div class="card-body">
       <form [formGroup]="form" > 
            <div class="form-group" [ngClass]="displayFieldCss('BrandID')">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-vcard"></i></span>
                </div>
                <input type="text" formControlName="BrandID" class="form-control"  placeholder="BrandID" formControlName="BrandID" tabindex="1">
                <app-field-error-display [displayError]="isFieldValid('BrandID')" errorMsg="Enter BrandID">
                </app-field-error-display>
              </div>
            </div>

           
            <div class="form-group">
              <div class="input-group" [ngClass]="displayFieldCss('BrandName')">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-book"></i></span>
                </div>
                <input type="text" formControlName="BrandName" class="form-control" placeholder="BrandName " formControlName="BrandName" tabindex="1">
                <app-field-error-display [displayError]="isFieldValid('BrandName')" errorMsg="Enter BrandName ">
                </app-field-error-display>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group" [ngClass]="displayFieldCss('AddDate')">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-book"></i></span>
                </div>
                <input type="text" formControlName="AddDate" class="form-control" placeholder="AddDate " formControlName="AddDate" tabindex="1">
                <app-field-error-display [displayError]="isFieldValid('AddDate')" errorMsg="Enter AddDate ">
                </app-field-error-display>
              </div>
            </div>
            
           


            <div class="form-group form-actions">
              <button type="submit" (click)="onSubmit()" class="btn btn-pill btn-success">Submit</button> &nbsp;
              <button type="reset" class="btn btn-pill btn-danger">Reset </button>
            </div>

          </form> 
        </div>
      </div>
    </div>

    <!-- <div class="col-sm-8">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Display Curriculum
        </div>
        <div class="card-body">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Curriculum ID</th>
                <th>Curriculum Name</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dis of display1">
               
                <td>{{dis.cid}}</td>
                <td>{{dis.curriculumName}}</td>
                <td>

                  <button mat-icon-button (click)="openDialog(dis)" color="primary">
                    <mat-icon>edit</mat-icon>
                  </button>

                </td>
                <td>
                  <button mat-icon-button color="warn" (click)="deleteCurriculum(dis._id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChanged($event)">
          </mat-paginator>
        </div>
      </div>
    </div> -->


    <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> <strong> Display Category</strong>
      
            <mat-form-field style="float :right;width: 200px;">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>
          <div>
      
      
            <div class="mat-elevation-z8">
              <table mat-table style="width: 100%;" [dataSource]="dataSource" matSort>
      
               
                <ng-container matColumnDef="BrandID">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> BrandID </th>
                  <td mat-cell *matCellDef="let row"> {{row.BrandID}} </td>
                </ng-container>
                
                <ng-container matColumnDef="BrandName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> BrandName  </th>
                  <td mat-cell *matCellDef="let row"> {{row.BrandName}} </td>
                </ng-container>

                <ng-container matColumnDef="AddDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> AddDate  </th>
                  <td mat-cell *matCellDef="let row"> {{row.AddDate}} </td>
                </ng-container>

      
                  
      
                <ng-container matColumnDef="edit">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
                  <td mat-cell *matCellDef="let row">
                    <button mat-icon-button color="primary" (click)="openDialog(row)">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </td>
                </ng-container>
      
                <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
                  <td mat-cell *matCellDef="let row">
                    <button mat-icon-button color="warn" (click)="deleteBrand(row._id)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>
      
      
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
              </table>
      
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
      
      
      
          </div>
      
      
      
      
        </div>
      </div>
  </div>
</div>




