
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <strong>Validation states</strong> Form
        </div>
        <form>
          <div class="card-body">
            <div class="form-group">
              <label class="form-col-form-label" for="inputSuccess1">Input with success</label>
              <input type="text" class="form-control is-valid" id="inputSuccess1">
              <div class="valid-feedback">
                Input is valid.
              </div>
            </div>
            <div class="form-group">
              <label class="form-col-form-label" for="inputError1">Input with error</label>
              <input type="text" class="form-control is-invalid" id="inputError1">
              <div class="invalid-feedback">
                Please provide a valid information.
              </div>
            </div>
          </div>
        </form>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <strong>Validation </strong> <code>was-validated</code>
        </div>
        <div class="card-body">
          <form class="was-validated">
            <div class="form-group">
              <label class="form-col-form-label" for="inputSuccess2">Input is valid</label>
              <input type="text" class="form-control is-valid" id="inputSuccess2">
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="form-group">
              <label class="form-col-form-label" for="inputError2">Input required</label>
              <input type="text" class="form-control" id="inputError2" required>
              <div class="valid-feedback">
                Input is valid.
              </div>
              <div class="invalid-feedback">
                Please provide a valid information.
              </div>
            </div>
          </form>
        </div>
      </div>
    </div><!--/.col-->
  </div>



