
  .send-message{
    border-radius: 15px 15px 15px 15px;
    background-color: white;
    box-shadow: 2px 5px 5px -5px;
    padding-left: 5px;
    height: 50px;
    width: auto;
    padding-right: 5px
  }

  .speech-bubble {
    position: relative;
	background: #ffffff;
   border-radius: .4em;

}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 100%;
	width: auto;
	height: 20px;
	border: 36px solid transparent;
	border-right-color: #ff0080;
	border-left: 0;
	margin-top: -36px;
	margin-left: -36px;
}


* {
  margin: 0px;
  padding: 0px;
}

.box3 {
  width: 300px;
  margin: 50px auto;
  border-radius: 15px;
  background: #00bfb6;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  font-family: arial;
  position: relative;
}


/* speech bubble 13 */

.sb13:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid #00bfb6;
  border-right: 15px solid transparent;
  border-top: 15px solid #00bfb6;
  border-bottom: 15px solid transparent;
  right: -16px;
  top: 0px;

}


/* speech bubble 14 */

.sb14:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #00bfb6;
  border-top: 15px solid #00bfb6;
  border-bottom: 15px solid transparent;
  left: -16px;
  top: 0px;
}
