
<mat-dialog-content class="mat-typography">
    <div >
     <div class="card">
       <div class="card-header">
         Update Purchasereturn
       </div>
       <div class="card-body">
         <form (ngSubmit)="onSubmit2(f2)" #f2="ngForm"   class="jumbotron">
           <div class="form-group">
             <div class="input-group">
               <div class="input-group-prepend">
                 <span class="input-group-text"><i class="fa fa-vcard"></i></span>
               </div>
               <input type="text" class="form-control"  name="VoucherID"  placeholder="VoucherID " ngModel  [(ngModel)] = "this.data.cData.VoucherID">
             </div>
           </div>
   
           

           <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-book"></i></span>
              </div>
              <input type="text" class="form-control" name="DealerName" placeholder="DealerName" ngModel  [(ngModel)] = "this.data.cData.DealerName">
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-book"></i></span>
              </div>
              <input type="text" class="form-control" name="DealerContact" placeholder="DealerContact" ngModel  [(ngModel)] = "this.data.cData.DealerContact">
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-book"></i></span>
              </div>
              <input type="text" class="form-control" name="Brandname" placeholder="Brandname" ngModel  [(ngModel)] = "this.data.cData.Brandname">
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-book"></i></span>
              </div>
              <input type="text" class="form-control" name="Modelnum" placeholder="Modelnum" ngModel  [(ngModel)] = "this.data.cData.Modelnum">
            </div>
          </div>
  
         


          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-book"></i></span>
              </div>
              <input type="text" class="form-control" name="Purchasedate" placeholder="Purchasedate" ngModel  [(ngModel)] = "this.data.cData.Purchasedate">
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-book"></i></span>
              </div>
              <input type="text" class="form-control" name="Returndate" placeholder="Returndate" ngModel  [(ngModel)] = "this.data.cData.Returndate">
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-book"></i></span>
              </div>
              <input type="text" class="form-control" name="Description" placeholder="Description" ngModel  [(ngModel)] = "this.data.cData.Description">
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-book"></i></span>
              </div>
              <input type="text" class="form-control" name="status" placeholder="status" ngModel  [(ngModel)] = "this.data.cData.status">
            </div>
          </div>

         
        
          <div class="form-group form-actions" mat-dialog-actions>
            <button type="submit" class="btn btn-pill btn-success" [mat-dialog-close]="this.data" >Update</button> &nbsp;
            <button type="button" class="btn btn-pill btn-danger" (click)="onNoClick()">Cancel </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  </mat-dialog-content>
   

   

